PORT=5000
MongoDB_URI=mongodb://localhost:27017/chat-app
JWT_SECRET=supersecret123
JWT_REFRESH_SECRET=refreshtokensecret456
NODE_ENV=development
SUPABASE_URL=https://ctixofkgjlvbqoefeury.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0aXhvZmtnamx2YnFvZWZldXJ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NTAxMzMsImV4cCI6MjA4OTQyNjEzM30.JD5vjaRwV-_pwaA5BLR437W_waYgy7o-3rtACA8vC-w
